

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/start" id="target" method="post">
  <input type="submit" value="go" id="submit-button">
</form>

<p>This section<span id="section1" class="section"> hasn't started</span></p>
<p>This section<span id="section2" class="section"> hasn't started</span></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./javascripts/start.js"></script>
